<div class="col-xs-6">
<h1><%=link_to post.title.truncate(10, separator: ' '), post, :class=>"title"%><%=  %></h1>
<%= image_tag post.picture, :class=>"img-circle bakri"  %>

<p><%= post.body.truncate(30, separtor: ' ' , omission:' ***' )%><%=link_to 'Show', post, :class=>"show"%></p>
<%= link_to 'Show', post,:class=>"btn btn-default" %>
<%= link_to 'Edit', edit_post_path(post),:class=>"btn btn-primary" %>
<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %>

</div>
