<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <h1><%= @post.title.upcase %></h1>
</p>




<div class="container">
  <p><%= @post.body %></p>
  <%= image_tag @post.picture, :class=>"img-circle bakri"  %>
  <%= link_to 'Edit', edit_post_path(@post),:class=>"btn btn-success"%>
  <%= link_to 'Back', posts_path,:class=>"btn btn-default" %>
</div>
