<!DOCTYPE html>
<html>
  <head>
    <title>Blogproject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, confirm: 'sure about this?' %><br />
    <%else %>
    <% link_to "log in",user_session_path %>
<% end %>

    <%= yield %>
  </body>
</html>
